@import "tailwindcss";

@theme {
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --color-surfaceHighlight: #F9FAFB;
  --color-primary: #00B289;
  --color-primaryHover: #009e7a;
  --color-secondary: #2C3E50;
  --color-textData: #4B5563;
  --color-border: #E5E7EB;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2C3E50;
  background-color: #F3F4F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-background text-secondary;
}